<div class="hero-wrap" style="background-image: url('assets/images/image_3.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8  text-center">
                <h1 class="mb-4"> Info</h1>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" style="font-size:x-large;margin-top: 4%;margin-bottom: 4%;">
    <div class="col-lg-4 mb-sm-4">
        <app-teacher [teacherInput]="teacher"></app-teacher>
    </div>
</div>