<div class="hero-wrap" style="background-image: url('assets/images/image_3.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8  text-center">
                <h1 class="mb-4">Our teachers</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center">
                <h2 class="mb-4">Our Experience Advisor</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-sm-4" *ngFor="let teacher of teachersTab">
                <app-teacher [teacherInput]="teacher"></app-teacher>
            </div>
        </div>
    </div>
</section>