<div class="hero-wrap" style="background-image: url('assets/images/image_6.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-10  text-center">
                <h1 class="mb-4">about</h1>
                <div>
                    <img src="assets/images/bg_4.jpg" alt="" style="width: 60%; height: 25%;">
                    <h3 class="card-text" style="color: rgb(20, 19, 19); font-size:x-large;">Genius CentraleSupélec vise à promouvoir l'entrepreneuriat et l'esprit d'innovation sur le campus. Genius CentraleSupélec fait partie de plusieurs grands réseaux Genius Global et la Young Entrepreneurship Society (YES) qui relient
                        d'autres associations entrepreneuriales étudiantes. Nous organisons des talks d'entrepreneurs, des afterworks, des formations à l'entrepreneuriat et un forum de startups. Nous faisons aussi des événements en commun avec Genius
                        Global et la YES sur Paris. Grâce à Genius vous pourrez ainsi développer votre réseau et votre projet entrepreneurial !</h3>
                </div>
            </div>
        </div>
    </div>