<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li *ngIf="decoded.role==='admin'" class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">teacher's</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">course's</a>
    </li>
    <li *ngIf="decoded.role==='admin'" class="nav-item">
        <a class="nav-link" id="profile1-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">student's</a>
    </li>

</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
        <app-teachers-tab></app-teachers-tab>
    </div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <app-courses-tab></app-courses-tab>
    </div>
    <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile1-tab">
        <app-student-tab></app-student-tab>
    </div>
</div>