<div class="hero-wrap" style="background-image: url('assets/images/bg_1.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8  text-center">
                <h1 class="mb-4">No Nation Can Prosper In Life Without Education</h1>
                <p><a href="#" class="btn btn-primary px-4 py-3">Apply Now</a> <a href="#" class="btn btn-secondary px-4 py-3">View Courses</a></p>
            </div>
        </div>
    </div>
</div>
<section class="ftco-footer ftco-bg-dark ftco-section img" style="background-image: url(assets/images/bg_3.jpg); background-attachment:fixed;">

    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-center">
            <div class="col-md-9 about-video text-center">
                <h2>Genius University is a Leading Schools Around the World</h2>
                <div class="video d-flex justify-content-center">
                    <a href="https://vimeo.com/45830194" class="button popup-vimeo d-flex justify-content-center align-items-center"><span class="ion-ios-play"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-teachers></app-teachers>
<app-courses></app-courses>