<table style="margin: 3% auto 10% auto; width: 70%; text-align: center;" class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Score</th>
            <th scope="col">Feedback</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let elt of studentsTab">
            <td>{{elt?.firstName}}</td>
            <td>{{elt?.lastName}}</td>
            <td>{{elt?.email}}</td>
            <!-- <td>{{elt?.assessment[0].score}}</td>
            <td>{{elt?.assessment[0].feedback}}</td> -->
            <td>
                <span *ngFor="let assessment of elt.assessments">
                    <p>Date:{{ assessment.date | date:'yyyy-MM-dd' }} score {{assessment.score}}</p>
                </span>
            </td>
            <td>
                <span *ngFor="let assessment of elt.assessments">
                    Date:{{ assessment.date | date:'yyyy-MM-dd' }}  feedback:{{assessment.feedback}}<br>
                </span>
            </td>
            <td>
                <button class="btn btn-primary py-3 px-5" (click)="goToStudentassessement(elt._id)">Edit
                    Assessment</button>
            </td>
        </tr>
    </tbody>
</table>