<div class="hero-wrap" style="background-image: url('assets/images/image_1.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="site-section">
        <div class="container">
            <div class="row" style="margin-left: 26%;">
                <div class="col-lg-7">
                    <form [formGroup]="signupForm" style="margin-top: 20%;">
                        <div class="form-group">
                            <input type="text" formControlName="firstName" class="form-control" placeholder="First Name" />
                        </div>
                        <div *ngIf="
                  signupForm.controls['firstName'].invalid &&
                  (signupForm.controls['firstName'].touched ||
                    signupForm.controls['firstName'].dirty)
                ">
                            <div *ngIf="signupForm.controls['firstName'].errors?.['required']">
                                First Name is required
                            </div>
                            <div *ngIf="signupForm.controls['firstName'].errors?.['minlength']">
                                First Name must have at least 3 chars
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="lastName" class="form-control" placeholder="Last Name" />
                        </div>
                        <div *ngIf="
                  signupForm.controls['lastName'].invalid &&
                  (signupForm.controls['lastName'].touched ||
                    signupForm.controls['lastName'].dirty)
                ">
                            <div *ngIf="signupForm.controls['lastName'].errors?.['required']">
                                Last Name is required
                            </div>
                            <div *ngIf="signupForm.controls['lastName'].errors?.['minlength']">
                                Last Name must have at least 5 chars
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" formControlName="email" class="form-control" placeholder="Email" />
                        </div>
                        <div *ngIf="
                  signupForm.controls['email'].invalid &&
                  (signupForm.controls['email'].touched ||
                    signupForm.controls['email'].dirty)
                ">
                            <div *ngIf="signupForm.controls['email'].errors?.['required']">
                                Email is required
                            </div>
                            <div *ngIf="signupForm.controls['email'].errors?.['email']">
                                Form Email invalid
                            </div>
                        </div>
                        <div *ngIf="actualPath === '/signUp-parent'">
                            <div class="form-group">
                                <input type="email" formControlName="emailChild" class="form-control" placeholder="Email children" />
                            </div>
                            <div *ngIf="
                  signupForm.controls['emailChild'].invalid &&
                  (signupForm.controls['emailChild'].touched ||
                    signupForm.controls['emailChild'].dirty)
                ">
                                <div *ngIf="signupForm.controls['emailChild'].errors?.['required']">
                                    Email fils is required
                                </div>
                                <div *ngIf="signupForm.controls['emailChild'].errors?.['emailChild']">
                                    Form Email fils invalid
                                </div>
                            </div>
                        </div>
                        <div *ngIf="actualPath === '/signUp-teacher'">
                            <div class="form-group">
                                <input type="text" formControlName="experience" class="form-control" placeholder="experience" />
                            </div>
                            <div *ngIf="
                  signupForm.controls['experience'].invalid &&
                  (signupForm.controls['experience'].touched ||
                    signupForm.controls['experience'].dirty)
                ">
                                <div *ngIf="signupForm.controls['experience'].errors?.['required']">
                                    experience is required
                                </div>
                            </div>
                        </div>
                        <div *ngIf="actualPath === '/signUp-teacher'">
                            <div class="form-group">
                                <input type="text" formControlName="speciality" class="form-control" placeholder="speciality" />
                            </div>
                            <div *ngIf="
                  signupForm.controls['speciality'].invalid &&
                  (signupForm.controls['speciality'].touched ||
                    signupForm.controls['speciality'].dirty)
                ">
                                <div *ngIf="signupForm.controls['speciality'].errors?.['required']">
                                    speciality is required
                                </div>
                            </div>
                        </div>
                        <div *ngIf="actualPath === '/signUp-student'">
                            <div class="form-group">
                                <input type="text" formControlName="parent" class="form-control" placeholder="Name parent" />
                            </div>
                            <div *ngIf="
                  signupForm.controls['parent'].invalid &&
                  (signupForm.controls['parent'].touched ||
                    signupForm.controls['parent'].dirty)
                ">
                                <div *ngIf="signupForm.controls['parent'].errors?.['required']">
                                    parent is required
                                </div>
                            </div>
                        </div>
                        <div *ngIf="actualPath === '/signUp-student'">
                            <div class="form-group">
                                <input type="number" formControlName="telParent" class="form-control" placeholder="Tel Parent" />
                            </div>
                            <div *ngIf="
                  signupForm.controls['telParent'].invalid &&
                  (signupForm.controls['telParent'].touched ||
                    signupForm.controls['telParent'].dirty)
                ">
                                <div *ngIf="signupForm.controls['telParent'].errors?.['required']">
                                    telParent is required
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <input type="password" formControlName="pwd" class="form-control" placeholder="pwd" />
                        </div>
                        <div *ngIf="
                  signupForm.controls['pwd'].invalid &&
                  (signupForm.controls['pwd'].touched ||
                    signupForm.controls['pwd'].dirty)
                ">
                            <div *ngIf="signupForm.controls['pwd'].errors?.['required']">
                                pwd is required
                            </div>
                            <div *ngIf="signupForm.controls['pwd'].errors?.['minlength']">
                                pwd must have at least 6
                            </div>
                            <div *ngIf="signupForm.controls['pwd'].errors?.['maxlength']">
                                pwd must have at least 7
                            </div>
                        </div>
                        <div class="form-group" style="display: none;">
                            <input type="file" class="form-control" #filePicker (change)="onImageSelected($event)" />
                        </div>
                        <div class="text-center mb-4">
                            <img [src]="imagePreview" class="mb-3" width="200px">
                            <button *ngIf="actualPath === '/signUp-teacher'||actualPath === '/signUp-student' " class="btn btn-success" (click)="filePicker.click()">
                                Select Your Photo
                            </button>
                            <div class="form-group" style="margin-top: 3%;">
                                <input type="submit" (click)="signup()" [disabled]="signupForm.invalid" class="btn btn-primary py-3 px-5" value="signup" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>