<div class="hero-wrap" style="background-image: url('assets/images/bg_2.jpg'); background-attachment:fixed;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8  text-center">
                <h1 class="mb-4">Edit student</h1>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">last Name</th>
            <th scope="col">course</th>
            <th scope="col">score</th>
            <th scope="col">feedback</th>
            <th scope="col">status</th>
            <th scope="col">action</th>

        </tr>
    </thead>
    <!-- <tbody>
        <tr *ngFor="let elt of studentsTab">

            <td>{{elt._id}}</td>
            <td>{{elt.firstName}}</td>
            <td>{{elt.lastName}}</td>
            <td>{{elt.course}}</td>
            <td>{{elt.score}}</td>
            <td>{{elt.feedback}}</td>
            <td>{{elt.status}}</td>


            <td>
                <!-- <button style="margin-right: 2%;" type="button" class="btn btn-success" ">activate</button> -->
    <!-- </td> -->-->
    <!-- <td><button style="margin-right: 2%; " type="button " class="btn btn-success " (click)="display(elt._id) ">display</button> <button type="button " class="btn btn-danger " (click)="goToEdit(elt._id) ">edit</button><button type="button
                    " class="btn btn-danger "
                        (click)="delete(elt._id) ">delete</button></td> -->
    <!-- </tr>
    </tbody> -->
</table>